<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feelings</title>
</head>
<body>
    <h1>Our Feelings</h1>
    <table>
        <tr>
            <th>Emotion</th>
            <th>Who</th>
            <th>Why</th>
            <th>Laugh</th>
            <th>Intensity</th>
        </tr>
        <tr>
            <td th:text="${feelings.get(0).feeling}">Happy</td>
            <td th:text="${feelings.get(0).person}">Nich</td>
            <td th:text="${feelings.get(0).reason}">Teaching Cool peeps</td>
            <td th:text="${feelings.get(0).laugh}">true</td>
            <td th:text="${feelings.get(0).level}">7</td>
        </tr>
    </table>

</body>
</html>